@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.res_1 {
  background-color: #8E43ED;
  position: absolute;
  bottom: 136px;
  -webkit-transform: rotate(-22deg);
      -ms-transform: rotate(-22deg);
          transform: rotate(-22deg);
}

.res_2 {
  -webkit-transform: rotate(-52deg);
      -ms-transform: rotate(-52deg);
          transform: rotate(-52deg);
  background-color: #F18BC3;
  position: absolute;
  bottom: -10px;
}

.res_3 {
  position: absolute;
  bottom: 117px;
  right: -44px;
  width: 293.5px;
  height: 293.5px;
  background: #F18BC3;
  border-radius: 32px;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.res_4 {
  width: 116.44px;
  height: 116.44px;
  position: absolute;
  right: 198px;
  top: 188px;
  background: #E0CFF8;
  border-radius: 16px;
  -webkit-transform: rotate(47.56deg);
      -ms-transform: rotate(47.56deg);
          transform: rotate(47.56deg);
}

.res_5 {
  width: 120px;
  height: 120px;
  position: absolute;
  right: -30px;
  top: 65px;
  width: 167.79px;
  height: 167.79px;
  background: #8E43ED;
  border-radius: 32px;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
}

.res_6 {
  position: absolute;
  width: 167.79px;
  height: 167.79px;
  top: 85px;
  left: -30px;
  z-index: 0;
  background: #F2E9FF;
  border-radius: 32px;
  -webkit-transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0);
      -ms-transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0);
          transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0);
}

.res_7 {
  position: absolute;
  width: 116.44px;
  height: 116.44px;
  left: 196px;
  top: 210px;
  background: #F2E9FF;
  border-radius: 16px;
  -webkit-transform: matrix(-0.67, 0.74, 0.74, 0.67, 0, 0);
      -ms-transform: matrix(-0.67, 0.74, 0.74, 0.67, 0, 0);
          transform: matrix(-0.67, 0.74, 0.74, 0.67, 0, 0);
}

.res_8 {
  position: absolute;
  width: 293.5px;
  height: 293.5px;
  left: -44px;
  bottom: 94px;
  background: #F2E9FF;
  border-radius: 32px;
  -webkit-transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
      -ms-transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
          transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
}

.btn {
  width: 212px;
  height: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #303030;
}

.container {
  max-width: 1312px;
  width: 100%;
}

.m0a {
  margin: 0 auto;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  background-color: #F8F3FF;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.card {
  max-width: 1440px;
  width: 100%;
  background-color: #f8f3ff;
  margin: 0 auto;
}

.card__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 245px 0 245px 0;
  padding-top: 100px;
  padding-bottom: 80px;
}

.card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card__photo {
  margin-left: 64px;
}

.card__block {
  width: 100%;
  padding: 44px 34px;
}

.card__name {
  font-weight: 800;
  font-size: 56px;
  line-height: 72px;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 23px;
}

.card__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
}

.card__item {
  padding-left: 9px;
}

.card__title {
  color: #aa7ecd;
  font-weight: bold;
  line-height: 21px;
}

.card__subtitle {
  margin-top: 64px;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 800;
  font-size: 27px;
  line-height: 36px;
}

.card__text {
  margin-bottom: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.card__img {
  position: relative;
}

.form {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #f8f3ff;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.form__title {
  position: relative;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 72px;
  padding-bottom: 42px;
  padding-top: 54px;
  padding-left: 64px;
  z-index: 999;
}

.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 64px;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 32px;
  padding-bottom: 42px;
  z-index: 1;
}

.form__input {
  width: 304px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #8e43ed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  padding-left: 12px;
  border-radius: 12px;
  z-index: 1;
}

.form label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6px;
  z-index: 1;
}

.form__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 4px;
}

.form__input::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 4px;
}

.form__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 4px;
}

.form__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 4px;
}

.form__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 4px;
}

.form__doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 976px;
  width: 100%;
  height: 104px;
  background: #ffffff;
  border: 1px dashed #d9bbff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  margin-left: 64px;
  margin-bottom: 112px;
  margin-top: 15px;
  position: relative;
  z-index: 1;
}

.form__text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0;
  color: #9993bd;
  padding: 0 8px;
}

.form__add {
  background: #ffffff;
  border: 1px solid #8e43ed;
  color: #8e43ed;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.form__btn {
  background: #ded9e4;
  border-radius: 12px;
  margin-left: 64px;
  color: #ffffff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
  position: relative;
  z-index: 1;
}

.slider {
  max-width: 1312px;
  width: 100%;
  height: 536px;
  overflow: hidden;
  position: relative;
  border-radius: 32px;
}

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.slider__item {
  position: relative;
}

.slider__item div {
  width: 100%;
  position: absolute;
  top: 45%;
  left: 47%;
  z-index: 999;
  font-size: 56px;
  color: #fff;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.slider__point {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.slider__point:first-child {
  left: 45%;
  -webkit-transform: translate(-45%, -45%);
      -ms-transform: translate(-45%, -45%);
          transform: translate(-45%, -45%);
}

.slider__point:last-child {
  left: 55%;
  -webkit-transform: translate(-55%, -55%);
      -ms-transform: translate(-55%, -55%);
          transform: translate(-55%, -55%);
}

.slider__arrow {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 999;
}

.slider__left {
  display: block;
  width: 30px;
  height: 30px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slider__right {
  display: block;
  width: 30px;
  height: 30px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.active {
  background-color: #fff;
}

.active:hover {
  background-color: #fff;
}

@media screen and (min-width: 664px) {
  .header {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
  }

  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo-block {
    padding-left: 64px;
  }

  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 20px;
  }

  .header__link {
    padding: 37px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #8E43ED;
    cursor: pointer;
  }
}

@media screen and (min-width: 930px) {
  .res_1 {
    width: 68px;
    height: 68px;
    border-radius: 16px;
    left: 18px;
  }

  .res_2 {
    width: 120px;
    height: 120px;
    border-radius: 24px;
    left: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .slider__left {
    top: 50%;
    left: 3%;
  }

  .slider__right {
    top: 50%;
    right: 3%;
  }
}

@media screen and (max-width: 1200px) {
  .card__wrapper {
    border-radius: 0;
    padding-top: 25px;
    padding-bottom: 60px;
  }

  .card__text {
    font-size: 16px;
  }

  .card__text:first-child {
    margin-bottom: 12px;
  }

  .card__block {
    text-align: left;
    padding: 0 26px;
  }

  .card__subtitle {
    margin-top: 22px;
    margin-bottom: 14px;
  }

  .card__item {
    padding: 5px 0;
    font-weight: 600;
  }

  .card__time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 22px;
  }

  .card__img img {
    max-width: 528px;
    width: 90vw;
    margin: 0 10px;
  }

  .card__img {
    position: relative;
    text-align: center;
    max-width: 528px;
    width: 90vw;
  }

  .card__title {
    white-space: nowrap;
  }

  .slider {
    width: 90%;
    margin: 0 auto;
  }

  .slider__left {
    bottom: 7%;
    left: 5%;
  }

  .slider__right {
    bottom: 7%;
    right: 5%;
  }
}

@media screen and (max-width: 930px) {
  .res_1 {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    right: 5vw;
    -webkit-transform: rotate(22deg);
        -ms-transform: rotate(22deg);
            transform: rotate(22deg);
    bottom: 56px;
  }

  .res_2 {
    width: 56px;
    height: 56px;
    border-radius: 16px;
    right: -15px;
  }

  .card__subtitle {
    margin-top: 24px;
    margin-bottom: 20px;
  }

  .card__text {
    margin-bottom: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
  }

  .card__inner {
    padding-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 663px) {
  .header {
    padding: 24px 16px;
  }

  .header__nav {
    display: none;
  }

  .header__logo-block {
    text-align: center;
  }
}