@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.res_1 {
  width: 68px;
  height: 68px;
  border-radius: 16px;
  background-color: #8E43ED;
  position: absolute;
  left: 18px;
  bottom: 136px;
  -webkit-transform: rotate(-22deg);
      -ms-transform: rotate(-22deg);
          transform: rotate(-22deg);
}

.res_2 {
  width: 120px;
  height: 120px;
  border-radius: 24px;
  background-color: #F18BC3;
  position: absolute;
  left: 26px;
  bottom: -10px;
  -webkit-transform: rotate(-52deg);
      -ms-transform: rotate(-52deg);
          transform: rotate(-52deg);
}

.res_3 {
  width: 120px;
  height: 120px;
  border-radius: 24px;
  background-color: #F18BC3;
  position: absolute;
  left: 26px;
  bottom: -10px;
  -webkit-transform: rotate(-52deg);
      -ms-transform: rotate(-52deg);
          transform: rotate(-52deg);
}

.res_4 {
  width: 120px;
  height: 120px;
  border-radius: 24px;
  background-color: #F18BC3;
  position: absolute;
  left: 26px;
  bottom: -10px;
  -webkit-transform: rotate(-52deg);
      -ms-transform: rotate(-52deg);
          transform: rotate(-52deg);
}

.res_5 {
  width: 120px;
  height: 120px;
  border-radius: 24px;
  background-color: #F18BC3;
  position: absolute;
  left: 26px;
  bottom: -10px;
  -webkit-transform: rotate(-52deg);
      -ms-transform: rotate(-52deg);
          transform: rotate(-52deg);
}

.res_6 {
  width: 120px;
  height: 120px;
  border-radius: 24px;
  background-color: #F18BC3;
  position: absolute;
  left: 26px;
  bottom: -10px;
  -webkit-transform: rotate(-52deg);
      -ms-transform: rotate(-52deg);
          transform: rotate(-52deg);
}

.res_7 {
  width: 120px;
  height: 120px;
  border-radius: 24px;
  background-color: #F18BC3;
  position: absolute;
  left: 26px;
  bottom: -10px;
  -webkit-transform: rotate(-52deg);
      -ms-transform: rotate(-52deg);
          transform: rotate(-52deg);
}

.res_8 {
  width: 120px;
  height: 120px;
  border-radius: 24px;
  background-color: #F18BC3;
  position: absolute;
  left: 26px;
  bottom: -10px;
  -webkit-transform: rotate(-52deg);
      -ms-transform: rotate(-52deg);
          transform: rotate(-52deg);
}

.btn {
  width: 212px;
  height: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #303030;
}

.container {
  width: 100%;
  max-width: 1300px;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  max-width: 1440px;
  width: 100%;
  background-color: #F8F3FF;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-block {
  padding-left: 64px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
}

.header__link {
  padding: 37px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #8E43ED;
  cursor: pointer;
}

.card {
  max-width: 1440px;
  width: 100%;
  background-color: #F8F3FF;
  margin: 0 auto;
}

.card__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 245px 0 245px 0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card__photo {
  margin-left: 64px;
  width: 528px;
  height: 600px;
}

.card__block {
  width: 100%;
  padding: 44px 34px;
}

.card__name {
  font-weight: 800;
  font-size: 56px;
  line-height: 72px;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 23px;
}

.card__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
}

.card__item {
  padding-left: 9px;
}

.card__title {
  color: #AA7ECD;
  font-weight: bold;
  line-height: 21px;
}

.card__subtitle {
  margin-top: 64px;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 800;
  font-size: 27px;
  line-height: 36px;
}

.card__text {
  margin-bottom: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.card__img {
  position: relative;
}

.form {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #F8F3FF;
}

.form__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 72px;
  padding-bottom: 67px;
}

.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 32px;
  padding-bottom: 67px;
  padding-left: 64px;
}

.form__input {
  width: 304px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #8E43ED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  padding-left: 12px;
  border-radius: 12px;
}

.form label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
}

.form__input::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
}

.form__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
}

.form__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
}

.form__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
}

.form__doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 976px;
  height: 104px;
  background: #FFFFFF;
  border: 1px dashed #D9BBFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  margin-left: 64px;
  margin-bottom: 64px;
}

.form__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #9993BD;
}

.form__add {
  background: #FFFFFF;
  border: 1px solid #8E43ED;
  color: #8E43ED;
}

.form__btn {
  background: #DED9E4;
  border-radius: 12px;
  margin-left: 64px;
  color: #FFFFFF;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}