@media screen and (min-width: 1100px) {
    .card {
        max-width: 1440px;
        width: 100%;
        background-color: #F8F3FF;
        margin: 0 auto;

        &__wrapper {
            max-width: 1440px;
            width: 100%;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 245px 0 245px 0;
            padding-top: 100px;
            padding-bottom: 80px;

        }

        &__inner {
            display: flex;
            justify-content: space-around;
        }

        &__photo {
            margin-left: 64px;
            // width: 528px;
            // height: 600px;
            // margin-bottom: 100px;
        }

        &__block {
            width: 100%;
            padding: 44px 34px;
        }

        &__name {
            font-weight: 800;
            font-size: 56px;
            line-height: 72px;
        }

        &__info {
            display: flex;
            padding-top: 23px;
        }

        &__time {
            display: flex;
            padding-right: 30px;
        }

        &__item {
            padding-left: 9px;
        }

        &__title {
            color: #AA7ECD;
            font-weight: bold;
            line-height: 21px;
        }

        &__subtitle {
            margin-top: 64px;
            margin-bottom: 26px;
            font-style: normal;
            font-weight: 800;
            font-size: 27px;
            line-height: 36px;
        }

        &__text {
            margin-bottom: 18px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 32px;
        }

        &__img {
            position: relative;
        }

    }

}

@media screen and (max-width: 1100px) {
    .card {
        width: 100%;
        padding: 0 20px;
        &__title {
            color: #AA7ECD;
            font-weight: bold;
            line-height: 21px;
        }
        &__name {
            font-weight: 800;
            font-size: 56px;
            line-height: 72px;
            text-align: center;
        }
        &__info{
            display: flex;
            justify-content: space-around;
        }
        &__time {
            display: flex;
            flex-direction: column;
        }

        &__subtitle {
            margin-top: 64px;
            margin-bottom: 26px;
            font-style: normal;
            font-weight: 800;
            font-size: 27px;
            line-height: 36px;
        }

        &__text {
            margin-bottom: 18px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 32px;
        }
    }

}