
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
	color: #303030;
}


.container {
	max-width: 1312px;
    width: 100%;
    
}
.m0a{
	margin: 0 auto;
}


* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
    transition: $transition;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}

a {
    transition: $transition;
}

ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
