.header {

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    max-width: 1440px;
    width: 100%;
    background-color: #F8F3FF;
    margin: 0 auto;

    &__inner {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    &__logo {}
    &__logo-block {
        padding-left: 64px;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;

    }

    &__link {
        padding: 37px 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #8E43ED;
        cursor: pointer;

    }
}
