// .slider {
//     &__item img {
//         max-width: auto;
//         height: 535px;
//         text-align: center;
//     }

//     &__item div {
//         // width: 100%;
//         position: absolute;
//         top: 45%;
//         left: 47%;
//         z-index: 999;
//         font-size: 56px;
//         color: #fff;
//         transition: all 0.8s ease;
//     }

//     &__point {
//         width: 15px;
//         height: 15px;
//         position: absolute;
//         bottom: 5%;
//         left: 50%;
//         border: 2px solid #fff;
//         border-radius: 50%;
//         z-index: 1;
//         transform: translate(-50%, -50%);
//         cursor: pointer;
//     }

//     &__point:first-child {
//         left: 45%;
//         transform: translate(-45%, -45%);
//     }

//     &__point:last-child {
//         left: 55%;
//         transform: translate(-55%, -55%);
//     }

//     &__arrow {
//         position: absolute;
//         transform: translate(-50%, -50%);
//         cursor: pointer;
//     }

//     &__left {
//         display: block;
//         width: 30px;
//         height: 30px;
//         border-top: 4px solid #fff;
//         border-right: 4px solid #fff;
//         transform: rotate(-135deg);
//         top: 50%;
//         left: 3%;
//     }

//     &__right {
//         display: block;
//         width: 30px;
//         height: 30px;
//         border-top: 4px solid #fff;
//         border-right: 4px solid #fff;
//         transform: rotate(45deg);
//         top: 50%;
//         right: 3%;
//     }
// }

@media screen and (max-width: 1100px) {
    .slider {
        &__item img {
            max-width: auto;
            width: 100%;
            
            height: 535px;
            text-align: center;
        }

        &__inner {
            // width: 100%;
            display: flex;
            z-index: 0;
            position: relative;
  
        }

        &__item {
            // width: 100%;
            position: relative;
            top: 0;
            left: 0;
            padding: 0 24px;
        }

        &__item div {
            // width: 100%;
            position: absolute;
            top: 45%;
            left: 47%;
            z-index: 999;
            font-size: 56px;
            color: #fff;
            transition: all 0.8s ease;
        }

        &__point {
            width: 15px;
            height: 15px;
            position: absolute;
            bottom: 5%;
            left: 50%;
            border: 2px solid #fff;
            border-radius: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        &__point:first-child {
            left: 45%;
            transform: translate(-45%, -45%);
        }

        &__point:last-child {
            left: 55%;
            transform: translate(-55%, -55%);
        }

        &__arrow {
            position: absolute;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        &__left {
            display: block;
            width: 30px;
            height: 30px;
            border-top: 4px solid #fff;
            border-right: 4px solid #fff;
            transform: rotate(-135deg);
            top: 50%;
            left: 3%;
        }

        &__right {
            display: block;
            width: 30px;
            height: 30px;
            border-top: 4px solid #fff;
            border-right: 4px solid #fff;
            transform: rotate(45deg);
            top: 50%;
            right: 3%;
        }
    }
}


@media screen and (min-width: 1100px) {
    .slider {
        max-width: 1312px;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;

        &__inner {
            // width: 100%;
            display: flex;
            z-index: 0;
            position: relative;
        }

        &__item {
            // width: 100%;
            position: relative;
            top: 0;
            left: 0;
            padding: 0 64px 0 0;
        }

        &__item div {
            // width: 100%;
            position: absolute;
            top: 45%;
            left: 47%;
            z-index: 999;
            font-size: 56px;
            color: #fff;
            transition: all 0.8s ease;
        }

        &__point {
            width: 15px;
            height: 15px;
            position: absolute;
            bottom: 5%;
            left: 50%;
            border: 2px solid #fff;
            border-radius: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        &__point:first-child {
            left: 45%;
            transform: translate(-45%, -45%);
        }

        &__point:last-child {
            left: 55%;
            transform: translate(-55%, -55%);
        }

        &__arrow {
            position: absolute;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        &__left {
            display: block;
            width: 30px;
            height: 30px;
            border-top: 4px solid #fff;
            border-right: 4px solid #fff;
            transform: rotate(-135deg);
            top: 50%;
            left: 3%;
        }

        &__right {
            display: block;
            width: 30px;
            height: 30px;
            border-top: 4px solid #fff;
            border-right: 4px solid #fff;
            transform: rotate(45deg);
            top: 50%;
            right: 3%;
        }
    }
}

.active {
    background-color: #fff;
}

.active:hover {
    background-color: #fff;
}

.hide {
    display: none;
}

.block {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
