.slider{
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;
    // overflow: hidden;
    &__inner{
        display: flex;  
        z-index: 0; 
        position: relative;
    }
    &__item {
        position: relative;
        padding: 0 64px 0 0;
    }
    &__item div{
        position: absolute;
        top: 45%;
        left: 47%;
        z-index: 999;
        font-size: 56px;
        color: #fff;
        transition: all .8s ease 0s;

    }
    &__point{
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: 5%;
        left: 50%;
        border: 2px solid #fff;
        border-radius: 50%;
        z-index: 1;
        transform:translate(-50%, -50%);
        cursor: pointer;
    }
    &__point:first-child{
        left: 45%;
        transform:translate(-45%, -45%);
    }
    &__point:last-child{
        left: 55%;
        transform:translate(-55%, -55%);
    }

    &__arrow{
        position: absolute;
        cursor: pointer;
        transform:translate(-50%, -50%)
    }
    &__left{
        display:block;
        width:30px;
        height:30px;
        border-top: 4px solid #fff;
        border-right: 4px solid #fff;
        transform:rotate(-135deg);
        top:50%;
        left:3%;

    }

    &__right{
        display:block;
        width:30px;
        height:30px;
        border-top: 4px solid #fff;
        border-right: 4px solid #fff;
        transform:rotate(45deg);
        top:50%;
        right:3%;
    }    
}
.active{
    background-color: #fff;
}
.active:hover {
    background-color: #fff;
}