
.res_1{
    width: 68px;
    height: 68px;
    border-radius: 16px;
    background-color:#8E43ED;
    position: absolute;
    left: 18px;
    bottom: 136px;
    transform: rotate(-22deg);
}
.res_2{
    width: 120px;
    height: 120px;
    border-radius: 24px;
    background-color:#F18BC3;
    position: absolute;
    left: 26px;
    bottom: -10px;
    transform: rotate(-52deg);
}
.res_3{
    width: 120px;
    height: 120px;
    border-radius: 24px;
    background-color:#F18BC3;
    position: absolute;
    left: 26px;
    bottom: -10px;
    transform: rotate(-52deg);
}
.res_4{
    width: 120px;
    height: 120px;
    border-radius: 24px;
    background-color:#F18BC3;
    position: absolute;
    left: 26px;
    bottom: -10px;
    transform: rotate(-52deg);
}
.res_5{
    width: 120px;
    height: 120px;
    border-radius: 24px;
    background-color:#F18BC3;
    position: absolute;
    left: 26px;
    bottom: -10px;
    transform: rotate(-52deg);
}
.res_6{
    width: 120px;
    height: 120px;
    border-radius: 24px;
    background-color:#F18BC3;
    position: absolute;
    left: 26px;
    bottom: -10px;
    transform: rotate(-52deg);
}
.res_7{
    width: 120px;
    height: 120px;
    border-radius: 24px;
    background-color:#F18BC3;
    position: absolute;
    left: 26px;
    bottom: -10px;
    transform: rotate(-52deg);
}
.res_8{
    width: 120px;
    height: 120px;
    border-radius: 24px;
    background-color:#F18BC3;
    position: absolute;
    left: 26px;
    bottom: -10px;
    transform: rotate(-52deg);
}
.btn{
    width: 212px;
    height: 56px;
    box-sizing: border-box;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

$transition: all .5s ease;
